* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.row {
    width: 100%;
}

.album-item {
    position: relative;
    overflow: hidden;
}

.album-link {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.album-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

/* Hover Effect for Image */
.album-link:hover .album-image {
    transform: scale(1.05);
}

/* Overlay */
.album-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 193, 255, 0.8);
    /* Yellow with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Title Style */
.album-title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

/* Hover Effect */
.album-link:hover .album-inner {
    opacity: 1;
}

.album-link:hover .album-title {
    opacity: 1;
    transform: translateY(0);
}

#sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

#sidebar.open {
    transform: translateX(0);
}

/* Rotate the hamburger icon when open */
#hamburger.open .bar1 {
    transform: rotate(45deg) translate(5px, 5px);
}

#hamburger.open .bar2 {
    opacity: 0;
}

#hamburger.open .bar3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Style for the white bar */
.white-bar {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.sidebar-text:hover {
    color: #23c1ff;
}

#hamburger:hover span {
    color: #23c1ff;
    /* or any color you want */
}

#hamburger:hover svg {
    color: #23c1ff;
}

.sidebar-bg {
    background-color: #23c1ff;
}
